.containerCart{
    width: 100vw;
    height: 90vh;
    color: #282832;

    margin-top: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap :10px;
}

.contentCart{
    width: 60%;

    
  
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center    ;



    gap: 30px;
    padding-right: 10px;
}
.boxValue{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #282832;
    border-radius: 11px;
    color: #282832;


}
.BtnPedido{
    width: 100%;
    height: 40px;
    background-color: #c6d6d6;
    color: #282832;
    border:  none;
    border-radius: 0px 0px 11px 11px ;

}
.title{
    width: 100%;
    height: 30px;
    background-color: #c6d6d6;
    color: #282832;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    border-radius:  11px 11px 0px 0px ;

}
button{
    cursor: pointer;
  }